@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(5, 5, 7);
}

#main-play-area {
  background-color: black;
  background-image: url(img/space.png);
  height: 600px;
  width: 600px;
}

.game-instructions {
  position: relative;
  color: white;
  left: 7rem;
  top: 0px;
}

.start-button {
  position: relative;
  color: white;
  top: 9rem;
  left: 15rem;
}

#botao{
  font-size: xx-large;
  font-family: "VT323", sans-serif;
  width: 100px;
  height: 60px;
  cursor: pointer;
  border-radius: 0.4ex;
}

.player-shooter {
  position: relative;
  height: 60px;
  width: 70px;
  left: 20px;
  top: 250px;
}

.laser {
  position: relative;
  width: 40px;
  height: 30px;
}

.alien {
  height: 60px;
  width: 70px;
  position: relative;
}

.alien-transition {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.dead-alien {
  height: 60px;
  width: 70px;
  position: relative;
  opacity: 0;
}
